@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50,200..900&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: hsl(0, 0%, 5%);
}

p, h1{
    color: aliceblue;
}


.navbar {
  position: fixed;
    width: 100%;
    background: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-items {
    display: flex;
    order: 2;
  }
  
  .menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
  }
  
  .menu-items a:hover {
    color: black;
  }

  .showcase-area {
    padding: 50px;
    font-size: 1.8rem;
  }

  .container__typing2 {
    animation: animacion 5.5s steps(30) transparent .5s step-end infinite alternate;
    width: 12.1em; 
    white-space: nowrap;
    overflow: hidden;
    color: aliceblue;
    border-right: 3px solid;
    
}

@keyframes animacion {
  from{
    width: 0px;
  }
}

@keyframes transparent{
  50%{
    border-color: transparent;
  }
}